# Week 3 - Lab

## Part1:
#### Explain briefly (1-2 sentences)

1. Differences between supervised and unsupervised learning?  

Supervised learning uses labelled training data whereas unsupervised learning does not use labelled training data.

Your answer

2. Differences between classification and regression?  

Regression is used to identify continous values whereas classification is used to identify distinct values

Your answer

3. Classification and regression are the only types of supervised learning?

Both classification and regression are the only two types of supervised learning

## Part2

#### Write a rule based predictor.
Do your EDA and complete `predict_one` function below.
Your model does not need to be perfect!

* Don't use a machine learning model

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/iris.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [2]:
df.species.value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [3]:
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width          species
135           7.7          3.0           6.1          2.3   Iris-virginica
117           7.7          3.8           6.7          2.2   Iris-virginica
19            5.1          3.8           1.5          0.3      Iris-setosa
112           6.8          3.0           5.5          2.1   Iris-virginica
86            6.7          3.1           4.7          1.5  Iris-versicolor
102           7.1          3.0           5.9          2.1   Iris-virginica
94            5.6          2.7           4.2          1.3  Iris-versicolor
62            6.0          2.2           4.0          1.0  Iris-versicolor
92            5.8          2.6           4.0          1.2  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor

In [23]:
def predict_one(sepal_length, sepal_width, petal_length, petal_width): # DON'T CHANGE THIS LINE
    if 0<= petal_length <= 2.0:
        return 'Iris-setosa'
    elif petal_length <= 4.7:
        return 'Iris-versicolor'
    else:
        return 'Iris-virginica'

In [24]:
## DO NOT MODIFY THIS CELL
def show_accuracy():
    predictions = pd.Series([ predict_one(sl, sw, pl, pw) for sl, sw, pl, pw in zip(df.sepal_length, df.sepal_width, df.petal_length, df.petal_width)])
    accuracy = sum(df.species == predictions) / len(df)
    print(f"Accuracy: {accuracy}")

show_accuracy()

Accuracy: 0.9533333333333334